-- MariaDB dump 10.19  Distrib 10.4.32-MariaDB, for Win64 (AMD64)
--
-- Host: localhost    Database: greenerry
-- ------------------------------------------------------
-- Server version	10.4.32-MariaDB

/*!40101 SET @OLD_CHARACTER_SET_CLIENT=@@CHARACTER_SET_CLIENT */;
/*!40101 SET @OLD_CHARACTER_SET_RESULTS=@@CHARACTER_SET_RESULTS */;
/*!40101 SET @OLD_COLLATION_CONNECTION=@@COLLATION_CONNECTION */;
/*!40101 SET NAMES utf8mb4 */;
/*!40103 SET @OLD_TIME_ZONE=@@TIME_ZONE */;
/*!40103 SET TIME_ZONE='+00:00' */;
/*!40014 SET @OLD_UNIQUE_CHECKS=@@UNIQUE_CHECKS, UNIQUE_CHECKS=0 */;
/*!40014 SET @OLD_FOREIGN_KEY_CHECKS=@@FOREIGN_KEY_CHECKS, FOREIGN_KEY_CHECKS=0 */;
/*!40101 SET @OLD_SQL_MODE=@@SQL_MODE, SQL_MODE='NO_AUTO_VALUE_ON_ZERO' */;
/*!40111 SET @OLD_SQL_NOTES=@@SQL_NOTES, SQL_NOTES=0 */;

--
-- Table structure for table `admin`
--

DROP TABLE IF EXISTS `admin`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `admin` (
  `idAdmin` int(11) NOT NULL AUTO_INCREMENT,
  `nome` varchar(120) NOT NULL,
  `email` varchar(150) NOT NULL,
  `palavra_passe` varchar(255) NOT NULL,
  `cargo` varchar(80) DEFAULT 'Administrador',
  `ativo` tinyint(1) NOT NULL DEFAULT 1,
  `ultimo_login` datetime DEFAULT NULL,
  `criado_em` timestamp NOT NULL DEFAULT current_timestamp(),
  `atualizado_em` timestamp NOT NULL DEFAULT current_timestamp() ON UPDATE current_timestamp(),
  PRIMARY KEY (`idAdmin`),
  UNIQUE KEY `email` (`email`)
) ENGINE=InnoDB AUTO_INCREMENT=6 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `admin`
--

LOCK TABLES `admin` WRITE;
/*!40000 ALTER TABLE `admin` DISABLE KEYS */;
/*!40000 ALTER TABLE `admin` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `categoria`
--

DROP TABLE IF EXISTS `categoria`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `categoria` (
  `idCategoria` int(11) NOT NULL AUTO_INCREMENT,
  `nomeCategoria` varchar(100) NOT NULL,
  `descricaoCategoria` text DEFAULT NULL,
  `usa_tamanhos` tinyint(1) NOT NULL DEFAULT 0,
  `estado` enum('ativo','inativo') NOT NULL DEFAULT 'ativo',
  `idAdminCriador` int(11) DEFAULT NULL,
  `criado_em` timestamp NOT NULL DEFAULT current_timestamp(),
  `atualizado_em` timestamp NOT NULL DEFAULT current_timestamp() ON UPDATE current_timestamp(),
  PRIMARY KEY (`idCategoria`),
  UNIQUE KEY `nomeCategoria` (`nomeCategoria`),
  KEY `fk_categoria_admin` (`idAdminCriador`),
  CONSTRAINT `fk_categoria_admin` FOREIGN KEY (`idAdminCriador`) REFERENCES `admin` (`idAdmin`) ON DELETE SET NULL
) ENGINE=InnoDB AUTO_INCREMENT=7 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `categoria`
--

LOCK TABLES `categoria` WRITE;
/*!40000 ALTER TABLE `categoria` DISABLE KEYS */;
/*!40000 ALTER TABLE `categoria` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `cliente`
--

DROP TABLE IF EXISTS `cliente`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `cliente` (
  `idCliente` int(11) NOT NULL AUTO_INCREMENT,
  `nome` varchar(120) NOT NULL,
  `email` varchar(150) NOT NULL,
  `palavra_passe` varchar(255) NOT NULL,
  `telefone` varchar(30) DEFAULT NULL,
  `foto` varchar(255) DEFAULT NULL,
  `banner` varchar(255) DEFAULT NULL,
  `bio` text DEFAULT NULL,
  `slug` varchar(160) DEFAULT NULL,
  `estado` enum('ativo','inativo','bloqueado') NOT NULL DEFAULT 'ativo',
  `ultimo_login` datetime DEFAULT NULL,
  `criado_em` timestamp NOT NULL DEFAULT current_timestamp(),
  `atualizado_em` timestamp NOT NULL DEFAULT current_timestamp() ON UPDATE current_timestamp(),
  PRIMARY KEY (`idCliente`),
  UNIQUE KEY `email` (`email`),
  UNIQUE KEY `slug` (`slug`),
  KEY `idx_cliente_estado` (`estado`)
) ENGINE=InnoDB AUTO_INCREMENT=213 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `cliente`
--

LOCK TABLES `cliente` WRITE;
/*!40000 ALTER TABLE `cliente` DISABLE KEYS */;
/*!40000 ALTER TABLE `cliente` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `configuracao_site`
--

DROP TABLE IF EXISTS `configuracao_site`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `configuracao_site` (
  `chave_configuracao` varchar(80) NOT NULL,
  `valor_configuracao` text DEFAULT NULL,
  `atualizado_em` timestamp NOT NULL DEFAULT current_timestamp() ON UPDATE current_timestamp(),
  PRIMARY KEY (`chave_configuracao`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `configuracao_site`
--

LOCK TABLES `configuracao_site` WRITE;
/*!40000 ALTER TABLE `configuracao_site` DISABLE KEYS */;
/*!40000 ALTER TABLE `configuracao_site` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `encomenda`
--

DROP TABLE IF EXISTS `encomenda`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `encomenda` (
  `idEncomenda` int(11) NOT NULL AUTO_INCREMENT,
  `idCliente` int(11) NOT NULL,
  `subtotal` decimal(10,2) NOT NULL DEFAULT 0.00,
  `iva_total` decimal(10,2) NOT NULL DEFAULT 0.00,
  `comissao_total` decimal(10,2) NOT NULL DEFAULT 0.00,
  `total_final` decimal(10,2) NOT NULL DEFAULT 0.00,
  `estado_encomenda` enum('pendente','em_preparacao','enviada','entregue','cancelada') NOT NULL DEFAULT 'pendente',
  `estado_pagamento` enum('pendente','pago','falhado','reembolsado') NOT NULL DEFAULT 'pendente',
  `metodo_pagamento` enum('cartao','mbway','transferencia') NOT NULL DEFAULT 'cartao',
  `nif` varchar(20) DEFAULT NULL,
  `observacoes` text DEFAULT NULL,
  `transportadora` varchar(120) DEFAULT NULL,
  `tracking_number` varchar(120) DEFAULT NULL,
  `tracking_url` varchar(255) DEFAULT NULL,
  `pago_em` datetime DEFAULT NULL,
  `enviado_em` datetime DEFAULT NULL,
  `entregue_em` datetime DEFAULT NULL,
  `criado_em` timestamp NOT NULL DEFAULT current_timestamp(),
  `atualizado_em` timestamp NOT NULL DEFAULT current_timestamp() ON UPDATE current_timestamp(),
  PRIMARY KEY (`idEncomenda`),
  KEY `idx_encomenda_cliente_estado` (`idCliente`,`estado_encomenda`),
  CONSTRAINT `fk_encomenda_cliente` FOREIGN KEY (`idCliente`) REFERENCES `cliente` (`idCliente`)
) ENGINE=InnoDB AUTO_INCREMENT=268 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `encomenda`
--

LOCK TABLES `encomenda` WRITE;
/*!40000 ALTER TABLE `encomenda` DISABLE KEYS */;
/*!40000 ALTER TABLE `encomenda` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `encomenda_item`
--

DROP TABLE IF EXISTS `encomenda_item`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `encomenda_item` (
  `idEncomendaItem` int(11) NOT NULL AUTO_INCREMENT,
  `idEncomenda` int(11) NOT NULL,
  `idProduto` int(11) NOT NULL,
  `idArtista` int(11) NOT NULL,
  `idTamanho` int(11) DEFAULT NULL,
  `nome_produto` varchar(150) NOT NULL,
  `categoria_nome` varchar(100) DEFAULT NULL,
  `quantidade` int(11) NOT NULL,
  `preco_unitario` decimal(10,2) NOT NULL,
  `iva_percentual` decimal(5,2) NOT NULL,
  `iva_valor` decimal(10,2) NOT NULL,
  `comissao_percentual` decimal(5,2) NOT NULL,
  `comissao_valor` decimal(10,2) NOT NULL,
  `subtotal_linha` decimal(10,2) NOT NULL,
  `total_linha` decimal(10,2) NOT NULL,
  `valor_artista` decimal(10,2) NOT NULL,
  `estado_item` enum('pendente','em_preparacao','enviado','entregue','cancelado') NOT NULL DEFAULT 'pendente',
  `criado_em` timestamp NOT NULL DEFAULT current_timestamp(),
  PRIMARY KEY (`idEncomendaItem`),
  KEY `fk_encomenda_item_encomenda` (`idEncomenda`),
  KEY `fk_encomenda_item_produto` (`idProduto`),
  KEY `fk_encomenda_item_tamanho` (`idTamanho`),
  KEY `idx_encomenda_item_artista_estado` (`idArtista`,`estado_item`),
  CONSTRAINT `fk_encomenda_item_artista` FOREIGN KEY (`idArtista`) REFERENCES `cliente` (`idCliente`),
  CONSTRAINT `fk_encomenda_item_encomenda` FOREIGN KEY (`idEncomenda`) REFERENCES `encomenda` (`idEncomenda`) ON DELETE CASCADE,
  CONSTRAINT `fk_encomenda_item_produto` FOREIGN KEY (`idProduto`) REFERENCES `produto` (`idProduto`),
  CONSTRAINT `fk_encomenda_item_tamanho` FOREIGN KEY (`idTamanho`) REFERENCES `tamanho` (`idTamanho`) ON DELETE SET NULL
) ENGINE=InnoDB AUTO_INCREMENT=335 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `encomenda_item`
--

LOCK TABLES `encomenda_item` WRITE;
/*!40000 ALTER TABLE `encomenda_item` DISABLE KEYS */;
/*!40000 ALTER TABLE `encomenda_item` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `encomenda_mensagem`
--

DROP TABLE IF EXISTS `encomenda_mensagem`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `encomenda_mensagem` (
  `idMensagemEncomenda` int(11) NOT NULL AUTO_INCREMENT,
  `idEncomenda` int(11) NOT NULL,
  `idProduto` int(11) NOT NULL,
  `idComprador` int(11) NOT NULL,
  `idArtista` int(11) NOT NULL,
  `remetente` enum('comprador','artista') NOT NULL DEFAULT 'comprador',
  `mensagem` text NOT NULL,
  `lida` tinyint(1) NOT NULL DEFAULT 0,
  `criado_em` timestamp NOT NULL DEFAULT current_timestamp(),
  PRIMARY KEY (`idMensagemEncomenda`),
  KEY `idx_encomenda_mensagem_thread` (`idEncomenda`,`idProduto`,`criado_em`),
  KEY `idx_encomenda_mensagem_artista` (`idArtista`,`lida`),
  KEY `fk_encomenda_mensagem_produto` (`idProduto`),
  KEY `fk_encomenda_mensagem_comprador` (`idComprador`),
  CONSTRAINT `fk_encomenda_mensagem_artista` FOREIGN KEY (`idArtista`) REFERENCES `cliente` (`idCliente`) ON DELETE CASCADE,
  CONSTRAINT `fk_encomenda_mensagem_comprador` FOREIGN KEY (`idComprador`) REFERENCES `cliente` (`idCliente`) ON DELETE CASCADE,
  CONSTRAINT `fk_encomenda_mensagem_encomenda` FOREIGN KEY (`idEncomenda`) REFERENCES `encomenda` (`idEncomenda`) ON DELETE CASCADE,
  CONSTRAINT `fk_encomenda_mensagem_produto` FOREIGN KEY (`idProduto`) REFERENCES `produto` (`idProduto`) ON DELETE CASCADE
) ENGINE=InnoDB AUTO_INCREMENT=103 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `encomenda_mensagem`
--

LOCK TABLES `encomenda_mensagem` WRITE;
/*!40000 ALTER TABLE `encomenda_mensagem` DISABLE KEYS */;
/*!40000 ALTER TABLE `encomenda_mensagem` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `faixa`
--

DROP TABLE IF EXISTS `faixa`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `faixa` (
  `idFaixa` int(11) NOT NULL AUTO_INCREMENT,
  `idRelease` int(11) NOT NULL,
  `numero_faixa` int(11) NOT NULL DEFAULT 1,
  `titulo` varchar(180) NOT NULL,
  `genero` varchar(80) DEFAULT NULL,
  `ficheiro_audio` varchar(255) NOT NULL,
  `duracao_segundos` int(11) DEFAULT NULL,
  `estado` enum('pendente','aprovada','rejeitada','inativa') NOT NULL DEFAULT 'pendente',
  `ativo` tinyint(1) NOT NULL DEFAULT 1,
  `criado_em` timestamp NOT NULL DEFAULT current_timestamp(),
  `atualizado_em` timestamp NOT NULL DEFAULT current_timestamp() ON UPDATE current_timestamp(),
  PRIMARY KEY (`idFaixa`),
  UNIQUE KEY `uq_faixa_release_numero` (`idRelease`,`numero_faixa`),
  KEY `idx_faixa_release_estado` (`idRelease`,`estado`),
  KEY `idx_faixa_genero` (`genero`),
  CONSTRAINT `fk_faixa_release` FOREIGN KEY (`idRelease`) REFERENCES `release_musical` (`idRelease`) ON DELETE CASCADE
) ENGINE=InnoDB AUTO_INCREMENT=881 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `faixa`
--

LOCK TABLES `faixa` WRITE;
/*!40000 ALTER TABLE `faixa` DISABLE KEYS */;
/*!40000 ALTER TABLE `faixa` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `faixa_listen`
--

DROP TABLE IF EXISTS `faixa_listen`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `faixa_listen` (
  `idListen` int(11) NOT NULL AUTO_INCREMENT,
  `idFaixa` int(11) NOT NULL,
  `idCliente` int(11) DEFAULT NULL,
  `idArtista` int(11) NOT NULL,
  `segundos_ouvidos` int(11) NOT NULL DEFAULT 0,
  `criado_em` timestamp NOT NULL DEFAULT current_timestamp(),
  PRIMARY KEY (`idListen`),
  KEY `idx_faixa_listen_artista` (`idArtista`,`criado_em`),
  KEY `idx_faixa_listen_faixa` (`idFaixa`,`criado_em`),
  KEY `fk_faixa_listen_cliente` (`idCliente`),
  CONSTRAINT `fk_faixa_listen_artista` FOREIGN KEY (`idArtista`) REFERENCES `cliente` (`idCliente`) ON DELETE CASCADE,
  CONSTRAINT `fk_faixa_listen_cliente` FOREIGN KEY (`idCliente`) REFERENCES `cliente` (`idCliente`) ON DELETE SET NULL,
  CONSTRAINT `fk_faixa_listen_faixa` FOREIGN KEY (`idFaixa`) REFERENCES `faixa` (`idFaixa`) ON DELETE CASCADE
) ENGINE=InnoDB AUTO_INCREMENT=12011 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `faixa_listen`
--

LOCK TABLES `faixa_listen` WRITE;
/*!40000 ALTER TABLE `faixa_listen` DISABLE KEYS */;
/*!40000 ALTER TABLE `faixa_listen` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `favorito_musica`
--

DROP TABLE IF EXISTS `favorito_musica`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `favorito_musica` (
  `idFavorito` int(11) NOT NULL AUTO_INCREMENT,
  `idCliente` int(11) NOT NULL,
  `idFaixa` int(11) NOT NULL,
  `criado_em` timestamp NOT NULL DEFAULT current_timestamp(),
  PRIMARY KEY (`idFavorito`),
  UNIQUE KEY `uq_favorito_musica` (`idCliente`,`idFaixa`),
  KEY `fk_favorito_faixa` (`idFaixa`),
  CONSTRAINT `fk_favorito_cliente` FOREIGN KEY (`idCliente`) REFERENCES `cliente` (`idCliente`) ON DELETE CASCADE,
  CONSTRAINT `fk_favorito_faixa` FOREIGN KEY (`idFaixa`) REFERENCES `faixa` (`idFaixa`) ON DELETE CASCADE
) ENGINE=InnoDB AUTO_INCREMENT=10 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `favorito_musica`
--

LOCK TABLES `favorito_musica` WRITE;
/*!40000 ALTER TABLE `favorito_musica` DISABLE KEYS */;
/*!40000 ALTER TABLE `favorito_musica` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `mensagem_admin`
--

DROP TABLE IF EXISTS `mensagem_admin`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `mensagem_admin` (
  `idMensagem` int(11) NOT NULL AUTO_INCREMENT,
  `idCliente` int(11) NOT NULL,
  `assunto` varchar(160) NOT NULL,
  `mensagem` text NOT NULL,
  `resposta_admin` text DEFAULT NULL,
  `estado` enum('aberta','respondida','fechada') NOT NULL DEFAULT 'aberta',
  `idAdminResposta` int(11) DEFAULT NULL,
  `criado_em` timestamp NOT NULL DEFAULT current_timestamp(),
  `respondido_em` datetime DEFAULT NULL,
  PRIMARY KEY (`idMensagem`),
  KEY `fk_mensagem_cliente` (`idCliente`),
  KEY `fk_mensagem_admin` (`idAdminResposta`),
  KEY `idx_mensagem_admin_estado` (`estado`,`criado_em`),
  CONSTRAINT `fk_mensagem_admin` FOREIGN KEY (`idAdminResposta`) REFERENCES `admin` (`idAdmin`) ON DELETE SET NULL,
  CONSTRAINT `fk_mensagem_cliente` FOREIGN KEY (`idCliente`) REFERENCES `cliente` (`idCliente`) ON DELETE CASCADE
) ENGINE=InnoDB AUTO_INCREMENT=32 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `mensagem_admin`
--

LOCK TABLES `mensagem_admin` WRITE;
/*!40000 ALTER TABLE `mensagem_admin` DISABLE KEYS */;
/*!40000 ALTER TABLE `mensagem_admin` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `morada_encomenda`
--

DROP TABLE IF EXISTS `morada_encomenda`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `morada_encomenda` (
  `idMoradaEncomenda` int(11) NOT NULL AUTO_INCREMENT,
  `idEncomenda` int(11) NOT NULL,
  `nome_destinatario` varchar(120) NOT NULL,
  `morada` varchar(255) NOT NULL,
  `cidade` varchar(100) NOT NULL,
  `codigo_postal` varchar(20) NOT NULL,
  `pais` varchar(80) NOT NULL DEFAULT 'Portugal',
  `telefone` varchar(30) NOT NULL,
  PRIMARY KEY (`idMoradaEncomenda`),
  UNIQUE KEY `idEncomenda` (`idEncomenda`),
  CONSTRAINT `fk_morada_encomenda` FOREIGN KEY (`idEncomenda`) REFERENCES `encomenda` (`idEncomenda`) ON DELETE CASCADE
) ENGINE=InnoDB AUTO_INCREMENT=268 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `morada_encomenda`
--

LOCK TABLES `morada_encomenda` WRITE;
/*!40000 ALTER TABLE `morada_encomenda` DISABLE KEYS */;
/*!40000 ALTER TABLE `morada_encomenda` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `notificacao`
--

DROP TABLE IF EXISTS `notificacao`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `notificacao` (
  `idNotificacao` int(11) NOT NULL AUTO_INCREMENT,
  `idCliente` int(11) NOT NULL,
  `titulo` varchar(160) NOT NULL,
  `mensagem` text NOT NULL,
  `tipo` enum('sistema','produto','musica','encomenda','mensagem','password') NOT NULL DEFAULT 'sistema',
  `lida` tinyint(1) NOT NULL DEFAULT 0,
  `criado_em` timestamp NOT NULL DEFAULT current_timestamp(),
  PRIMARY KEY (`idNotificacao`),
  KEY `idx_notificacao_cliente_lida` (`idCliente`,`lida`),
  CONSTRAINT `fk_notificacao_cliente` FOREIGN KEY (`idCliente`) REFERENCES `cliente` (`idCliente`) ON DELETE CASCADE
) ENGINE=InnoDB AUTO_INCREMENT=90 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `notificacao`
--

LOCK TABLES `notificacao` WRITE;
/*!40000 ALTER TABLE `notificacao` DISABLE KEYS */;
/*!40000 ALTER TABLE `notificacao` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `pagamento`
--

DROP TABLE IF EXISTS `pagamento`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `pagamento` (
  `idPagamento` int(11) NOT NULL AUTO_INCREMENT,
  `idEncomenda` int(11) NOT NULL,
  `valor` decimal(10,2) NOT NULL,
  `metodo_pagamento` enum('cartao','mbway','transferencia') NOT NULL,
  `estado_pagamento` enum('pendente','pago','falhado','reembolsado') NOT NULL DEFAULT 'pendente',
  `referencia` varchar(120) DEFAULT NULL,
  `data_pagamento` datetime NOT NULL DEFAULT current_timestamp(),
  PRIMARY KEY (`idPagamento`),
  KEY `fk_pagamento_encomenda` (`idEncomenda`),
  CONSTRAINT `fk_pagamento_encomenda` FOREIGN KEY (`idEncomenda`) REFERENCES `encomenda` (`idEncomenda`) ON DELETE CASCADE
) ENGINE=InnoDB AUTO_INCREMENT=34 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `pagamento`
--

LOCK TABLES `pagamento` WRITE;
/*!40000 ALTER TABLE `pagamento` DISABLE KEYS */;
/*!40000 ALTER TABLE `pagamento` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `playlist`
--

DROP TABLE IF EXISTS `playlist`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `playlist` (
  `idPlaylist` int(11) NOT NULL AUTO_INCREMENT,
  `idCliente` int(11) NOT NULL,
  `nome` varchar(140) NOT NULL,
  `descricao` text DEFAULT NULL,
  `capa` varchar(255) DEFAULT NULL,
  `visibilidade` enum('privada','publica') NOT NULL DEFAULT 'privada',
  `criado_em` timestamp NOT NULL DEFAULT current_timestamp(),
  `atualizado_em` timestamp NOT NULL DEFAULT current_timestamp() ON UPDATE current_timestamp(),
  PRIMARY KEY (`idPlaylist`),
  KEY `idx_playlist_cliente` (`idCliente`,`criado_em`),
  CONSTRAINT `fk_playlist_cliente` FOREIGN KEY (`idCliente`) REFERENCES `cliente` (`idCliente`) ON DELETE CASCADE
) ENGINE=InnoDB AUTO_INCREMENT=3 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `playlist`
--

LOCK TABLES `playlist` WRITE;
/*!40000 ALTER TABLE `playlist` DISABLE KEYS */;
/*!40000 ALTER TABLE `playlist` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `playlist_faixa`
--

DROP TABLE IF EXISTS `playlist_faixa`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `playlist_faixa` (
  `idPlaylistFaixa` int(11) NOT NULL AUTO_INCREMENT,
  `idPlaylist` int(11) NOT NULL,
  `idFaixa` int(11) NOT NULL,
  `ordem` int(11) NOT NULL DEFAULT 0,
  `criado_em` timestamp NOT NULL DEFAULT current_timestamp(),
  PRIMARY KEY (`idPlaylistFaixa`),
  UNIQUE KEY `uq_playlist_faixa` (`idPlaylist`,`idFaixa`),
  KEY `idx_playlist_faixa_faixa` (`idFaixa`),
  CONSTRAINT `fk_playlist_faixa_faixa` FOREIGN KEY (`idFaixa`) REFERENCES `faixa` (`idFaixa`) ON DELETE CASCADE,
  CONSTRAINT `fk_playlist_faixa_playlist` FOREIGN KEY (`idPlaylist`) REFERENCES `playlist` (`idPlaylist`) ON DELETE CASCADE
) ENGINE=InnoDB AUTO_INCREMENT=8 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `playlist_faixa`
--

LOCK TABLES `playlist_faixa` WRITE;
/*!40000 ALTER TABLE `playlist_faixa` DISABLE KEYS */;
/*!40000 ALTER TABLE `playlist_faixa` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `produto`
--

DROP TABLE IF EXISTS `produto`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `produto` (
  `idProduto` int(11) NOT NULL AUTO_INCREMENT,
  `idCliente` int(11) NOT NULL,
  `idCategoria` int(11) NOT NULL,
  `nomeProduto` varchar(150) NOT NULL,
  `descricaoProduto` text DEFAULT NULL,
  `marca` varchar(100) DEFAULT NULL,
  `precoAtual` decimal(10,2) NOT NULL,
  `iva_percentual` decimal(5,2) NOT NULL DEFAULT 23.00,
  `comissao_percentual` decimal(5,2) NOT NULL DEFAULT 5.00,
  `stock_total` int(11) NOT NULL DEFAULT 0,
  `usa_tamanhos` tinyint(1) NOT NULL DEFAULT 0,
  `estado` enum('pendente','aprovado','rejeitado','inativo') NOT NULL DEFAULT 'pendente',
  `ativo` tinyint(1) NOT NULL DEFAULT 1,
  `bloqueado_admin` tinyint(1) NOT NULL DEFAULT 0,
  `motivo_rejeicao` text DEFAULT NULL,
  `idAdminAprovacao` int(11) DEFAULT NULL,
  `aprovado_em` datetime DEFAULT NULL,
  `criado_em` timestamp NOT NULL DEFAULT current_timestamp(),
  `atualizado_em` timestamp NOT NULL DEFAULT current_timestamp() ON UPDATE current_timestamp(),
  PRIMARY KEY (`idProduto`),
  KEY `fk_produto_cliente` (`idCliente`),
  KEY `fk_produto_categoria` (`idCategoria`),
  KEY `fk_produto_admin` (`idAdminAprovacao`),
  KEY `idx_produto_estado_cliente` (`estado`,`idCliente`),
  CONSTRAINT `fk_produto_admin` FOREIGN KEY (`idAdminAprovacao`) REFERENCES `admin` (`idAdmin`) ON DELETE SET NULL,
  CONSTRAINT `fk_produto_categoria` FOREIGN KEY (`idCategoria`) REFERENCES `categoria` (`idCategoria`),
  CONSTRAINT `fk_produto_cliente` FOREIGN KEY (`idCliente`) REFERENCES `cliente` (`idCliente`) ON DELETE CASCADE
) ENGINE=InnoDB AUTO_INCREMENT=754 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `produto`
--

LOCK TABLES `produto` WRITE;
/*!40000 ALTER TABLE `produto` DISABLE KEYS */;
/*!40000 ALTER TABLE `produto` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `produto_imagem`
--

DROP TABLE IF EXISTS `produto_imagem`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `produto_imagem` (
  `idProdutoImagem` int(11) NOT NULL AUTO_INCREMENT,
  `idProduto` int(11) NOT NULL,
  `ficheiro` varchar(255) NOT NULL,
  `ordem` int(11) NOT NULL DEFAULT 0,
  `criado_em` timestamp NOT NULL DEFAULT current_timestamp(),
  PRIMARY KEY (`idProdutoImagem`),
  KEY `idx_produto_imagem_produto` (`idProduto`,`ordem`),
  CONSTRAINT `fk_produto_imagem_produto` FOREIGN KEY (`idProduto`) REFERENCES `produto` (`idProduto`) ON DELETE CASCADE
) ENGINE=InnoDB AUTO_INCREMENT=2596 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `produto_imagem`
--

LOCK TABLES `produto_imagem` WRITE;
/*!40000 ALTER TABLE `produto_imagem` DISABLE KEYS */;
/*!40000 ALTER TABLE `produto_imagem` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `produto_review`
--

DROP TABLE IF EXISTS `produto_review`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `produto_review` (
  `idReview` int(11) NOT NULL AUTO_INCREMENT,
  `idProduto` int(11) NOT NULL,
  `idCliente` int(11) NOT NULL,
  `idEncomenda` int(11) NOT NULL,
  `rating` tinyint(4) NOT NULL,
  `comentario` varchar(180) DEFAULT NULL,
  `criado_em` timestamp NOT NULL DEFAULT current_timestamp(),
  `atualizado_em` timestamp NOT NULL DEFAULT current_timestamp() ON UPDATE current_timestamp(),
  PRIMARY KEY (`idReview`),
  UNIQUE KEY `uq_produto_review_cliente` (`idProduto`,`idCliente`),
  KEY `idx_produto_review_produto` (`idProduto`,`criado_em`),
  KEY `fk_produto_review_cliente` (`idCliente`),
  KEY `fk_produto_review_encomenda` (`idEncomenda`),
  CONSTRAINT `fk_produto_review_cliente` FOREIGN KEY (`idCliente`) REFERENCES `cliente` (`idCliente`) ON DELETE CASCADE,
  CONSTRAINT `fk_produto_review_encomenda` FOREIGN KEY (`idEncomenda`) REFERENCES `encomenda` (`idEncomenda`) ON DELETE CASCADE,
  CONSTRAINT `fk_produto_review_produto` FOREIGN KEY (`idProduto`) REFERENCES `produto` (`idProduto`) ON DELETE CASCADE
) ENGINE=InnoDB AUTO_INCREMENT=170 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `produto_review`
--

LOCK TABLES `produto_review` WRITE;
/*!40000 ALTER TABLE `produto_review` DISABLE KEYS */;
/*!40000 ALTER TABLE `produto_review` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `produto_tamanho_stock`
--

DROP TABLE IF EXISTS `produto_tamanho_stock`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `produto_tamanho_stock` (
  `idProdutoTamanho` int(11) NOT NULL AUTO_INCREMENT,
  `idProduto` int(11) NOT NULL,
  `idTamanho` int(11) NOT NULL,
  `stock` int(11) NOT NULL DEFAULT 0,
  `ativo` tinyint(1) NOT NULL DEFAULT 1,
  PRIMARY KEY (`idProdutoTamanho`),
  UNIQUE KEY `uq_produto_tamanho` (`idProduto`,`idTamanho`),
  KEY `fk_produto_tamanho_tamanho` (`idTamanho`),
  CONSTRAINT `fk_produto_tamanho_produto` FOREIGN KEY (`idProduto`) REFERENCES `produto` (`idProduto`) ON DELETE CASCADE,
  CONSTRAINT `fk_produto_tamanho_tamanho` FOREIGN KEY (`idTamanho`) REFERENCES `tamanho` (`idTamanho`)
) ENGINE=InnoDB AUTO_INCREMENT=1588 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `produto_tamanho_stock`
--

LOCK TABLES `produto_tamanho_stock` WRITE;
/*!40000 ALTER TABLE `produto_tamanho_stock` DISABLE KEYS */;
/*!40000 ALTER TABLE `produto_tamanho_stock` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `recuperacao_password`
--

DROP TABLE IF EXISTS `recuperacao_password`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `recuperacao_password` (
  `idRecuperacaoPassword` int(11) NOT NULL AUTO_INCREMENT,
  `idCliente` int(11) NOT NULL,
  `hash_token` varchar(255) NOT NULL,
  `hash_codigo` varchar(255) DEFAULT NULL,
  `expira_em` datetime NOT NULL,
  `usado_em` datetime DEFAULT NULL,
  `criado_em` timestamp NOT NULL DEFAULT current_timestamp(),
  PRIMARY KEY (`idRecuperacaoPassword`),
  UNIQUE KEY `hash_token` (`hash_token`),
  KEY `idx_recuperacao_password_cliente` (`idCliente`),
  CONSTRAINT `fk_recuperacao_password_cliente` FOREIGN KEY (`idCliente`) REFERENCES `cliente` (`idCliente`) ON DELETE CASCADE
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `recuperacao_password`
--

LOCK TABLES `recuperacao_password` WRITE;
/*!40000 ALTER TABLE `recuperacao_password` DISABLE KEYS */;
/*!40000 ALTER TABLE `recuperacao_password` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `release_musical`
--

DROP TABLE IF EXISTS `release_musical`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `release_musical` (
  `idRelease` int(11) NOT NULL AUTO_INCREMENT,
  `idCliente` int(11) NOT NULL,
  `titulo` varchar(180) NOT NULL,
  `tipo` enum('Single','EP','Album') NOT NULL DEFAULT 'Single',
  `idGenero` int(11) DEFAULT NULL,
  `descricao` text DEFAULT NULL,
  `capa` varchar(255) DEFAULT NULL,
  `data_lancamento` date DEFAULT NULL,
  `estado` enum('pendente','aprovado','rejeitado','inativo') NOT NULL DEFAULT 'pendente',
  `ativo` tinyint(1) NOT NULL DEFAULT 1,
  `bloqueado_admin` tinyint(1) NOT NULL DEFAULT 0,
  `motivo_rejeicao` text DEFAULT NULL,
  `idAdminAprovacao` int(11) DEFAULT NULL,
  `aprovado_em` datetime DEFAULT NULL,
  `criado_em` timestamp NOT NULL DEFAULT current_timestamp(),
  `atualizado_em` timestamp NOT NULL DEFAULT current_timestamp() ON UPDATE current_timestamp(),
  PRIMARY KEY (`idRelease`),
  KEY `fk_release_cliente` (`idCliente`),
  KEY `fk_release_admin` (`idAdminAprovacao`),
  KEY `idx_release_estado_cliente` (`estado`,`idCliente`),
  KEY `idx_release_genero` (`idGenero`),
  CONSTRAINT `fk_release_admin` FOREIGN KEY (`idAdminAprovacao`) REFERENCES `admin` (`idAdmin`) ON DELETE SET NULL,
  CONSTRAINT `fk_release_cliente` FOREIGN KEY (`idCliente`) REFERENCES `cliente` (`idCliente`) ON DELETE CASCADE
) ENGINE=InnoDB AUTO_INCREMENT=262 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `release_musical`
--

LOCK TABLES `release_musical` WRITE;
/*!40000 ALTER TABLE `release_musical` DISABLE KEYS */;
/*!40000 ALTER TABLE `release_musical` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `seguir_artista`
--

DROP TABLE IF EXISTS `seguir_artista`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `seguir_artista` (
  `idSeguirArtista` int(11) NOT NULL AUTO_INCREMENT,
  `idSeguidor` int(11) NOT NULL,
  `idArtista` int(11) NOT NULL,
  `criado_em` timestamp NOT NULL DEFAULT current_timestamp(),
  PRIMARY KEY (`idSeguirArtista`),
  UNIQUE KEY `uq_seguir_artista` (`idSeguidor`,`idArtista`),
  KEY `idx_seguir_artista_seguidor` (`idSeguidor`,`criado_em`),
  KEY `idx_seguir_artista_artista` (`idArtista`,`criado_em`),
  CONSTRAINT `fk_seguir_artista_artista` FOREIGN KEY (`idArtista`) REFERENCES `cliente` (`idCliente`) ON DELETE CASCADE,
  CONSTRAINT `fk_seguir_artista_seguidor` FOREIGN KEY (`idSeguidor`) REFERENCES `cliente` (`idCliente`) ON DELETE CASCADE
) ENGINE=InnoDB AUTO_INCREMENT=124 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `seguir_artista`
--

LOCK TABLES `seguir_artista` WRITE;
/*!40000 ALTER TABLE `seguir_artista` DISABLE KEYS */;
/*!40000 ALTER TABLE `seguir_artista` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `tamanho`
--

DROP TABLE IF EXISTS `tamanho`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `tamanho` (
  `idTamanho` int(11) NOT NULL AUTO_INCREMENT,
  `codigo` varchar(20) NOT NULL,
  `etiqueta` varchar(30) NOT NULL,
  `ordem` int(11) NOT NULL DEFAULT 0,
  `ativo` tinyint(1) NOT NULL DEFAULT 1,
  PRIMARY KEY (`idTamanho`),
  UNIQUE KEY `codigo` (`codigo`)
) ENGINE=InnoDB AUTO_INCREMENT=5 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `tamanho`
--

LOCK TABLES `tamanho` WRITE;
/*!40000 ALTER TABLE `tamanho` DISABLE KEYS */;
INSERT INTO `tamanho` VALUES (1,'S','S',1,1),(2,'M','M',2,1),(3,'L','L',3,1),(4,'XL','XL',4,1);
/*!40000 ALTER TABLE `tamanho` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `verificacao_email`
--

DROP TABLE IF EXISTS `verificacao_email`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `verificacao_email` (
  `idVerificacaoEmail` int(11) NOT NULL AUTO_INCREMENT,
  `idCliente` int(11) NOT NULL,
  `hash_token` varchar(255) NOT NULL,
  `hash_codigo` varchar(255) DEFAULT NULL,
  `expira_em` datetime NOT NULL,
  `usado_em` datetime DEFAULT NULL,
  `criado_em` timestamp NOT NULL DEFAULT current_timestamp(),
  PRIMARY KEY (`idVerificacaoEmail`),
  UNIQUE KEY `hash_token` (`hash_token`),
  KEY `idx_verificacao_email_cliente` (`idCliente`),
  CONSTRAINT `fk_verificacao_email_cliente` FOREIGN KEY (`idCliente`) REFERENCES `cliente` (`idCliente`) ON DELETE CASCADE
) ENGINE=InnoDB AUTO_INCREMENT=6 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `verificacao_email`
--

LOCK TABLES `verificacao_email` WRITE;
/*!40000 ALTER TABLE `verificacao_email` DISABLE KEYS */;
INSERT INTO `verificacao_email` VALUES (2,2,'4576a4d9cc5c44e53f65fd9e98c3decca6d2a5f8fccf84cda8ee764264dfacba',NULL,'2026-05-27 23:26:11','2026-05-26 23:31:50','2026-05-26 22:26:11'),(3,3,'b74be9eac29d9b9fed22271ce68e74a3d522a7afa610327b95442ac66a8c3e64',NULL,'2026-05-27 23:26:37','2026-05-26 23:31:02','2026-05-26 22:26:37'),(4,4,'5c7ee44e6d299f75c078ce890e76e531e1adc5f6b78ccf2b54b41b04e345e1c8',NULL,'2026-05-27 23:30:37',NULL,'2026-05-26 22:30:37'),(5,5,'d105711403d5a852c2b567fc63ead760cafab33875167a18e783867dd0ad9320',NULL,'2026-05-27 23:32:35','2026-05-26 23:32:45','2026-05-26 22:32:35');
/*!40000 ALTER TABLE `verificacao_email` ENABLE KEYS */;
UNLOCK TABLES;
/*!40103 SET TIME_ZONE=@OLD_TIME_ZONE */;

/*!40101 SET SQL_MODE=@OLD_SQL_MODE */;
/*!40014 SET FOREIGN_KEY_CHECKS=@OLD_FOREIGN_KEY_CHECKS */;
/*!40014 SET UNIQUE_CHECKS=@OLD_UNIQUE_CHECKS */;
/*!40101 SET CHARACTER_SET_CLIENT=@OLD_CHARACTER_SET_CLIENT */;
/*!40101 SET CHARACTER_SET_RESULTS=@OLD_CHARACTER_SET_RESULTS */;
/*!40101 SET COLLATION_CONNECTION=@OLD_COLLATION_CONNECTION */;
/*!40111 SET SQL_NOTES=@OLD_SQL_NOTES */;

-- Dump completed on 2026-06-05 22:37:04
